/*
Theme Name:Mywork
Theme URI:www.cbc.com.bd
Author: OlineIT-Asmana Ria
Author URI:www.olineit.com
Version:0.0.1
Description:Fully device responsive theme.
Tags:Dynamic logo,menu,slider,content.
*/


.custom-logo {
    width: 50%;
    height: auto;
}

.top .bg-dark{
    background-color: #000000 !important;
}
.logo{
    width: 100;
    height: auto;
}
.content .bg{
    margin-left: auto;
    margin-right: auto;
    padding: 16px 5px;
    background: #ffffff;
}
.footer .container .copyright{
    margin-right: auto;
    margin-left: auto;
    background: #000000;
    padding: 40px;
}
.footer p{
    color: #ffffff;
}
/*#wrapper{
    margin: 0 auto;
    width: 970px;
    height: auto;
    background-color: seagreen;
}
#header{
    padding-top: 80px;
    background-color: black;
    padding-bottom: 10px;
}
#menu{
    color: white;
    padding-top: 80px;
    background-color: black;
}
#menubar{
    padding-left: 12px;
}
.menubotton{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
#slide{
    height: 350px;
    width: 100%;
    padding: 0 0 0 0;
}
#containt{
    background-color: white;
    padding-right:12px;

}
#footer{
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 7px;
   }
   */

body {
    margin-top:40px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;

}
.col-md-3.d-flex.services.align-self-stretch.p-4.ftco-animate.hsrv img {
    width: 50%;
    height: auto;
}
